<div>
  <div [hidden]="submitted">
    <h1>Login Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div>
        <label for="username">User Name</label>
        <input id="username"
               type="text"
               required
               [(ngModel)]="username"
               placeholder="(username)"
               ngControl="username" #name="ngForm">
        <span [hidden]="name.valid || name.pristine">
          Name is required
        </span>
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email"
               type="email"
               required
               [(ngModel)]="email"
               placeholder="(email)"
               ngControl="email" #bob="ngForm">
        <span [hidden]="bob.valid || bob.pristine">
          email is required
        </span>
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password"
               type="password"
               required
               pattern=".{6,}"
               [(ngModel)]="password"
               ngControl="password" #pass="ngForm">
        <span [hidden]="pass.valid || pass.pristine">
          Password is required (and must be 6 chars long)
        </span>
      </div>
      <button [disabled]="!heroForm.valid" type="submit" >Login</button>
    </form>
  </div>
</div>
